:root {
  --primary: #001f3d;
  --secondary: #045174;
  --third: #f8dcbf;
  --forth: #e87a00;
  --fifth: #fa9939;

  --background: var(--primary);
  --container: var(--secondary);
  --text: var(--third);
  --first-bar: var(--third);
  --second-bar: var(--forth);
  --active-star-: var(--third);
  --inactive-star: var(--forth);
  --tech-container: var(--third);
  --tech-text: var(--primary);
  --break-line: var(--fifth);

  --size-large: 2rem;
  --size-medium: 1.5rem;
  --size-small: 1.2rem;

  --break-small: 5px;

  --title-font: 'Roxborough CF', serif;
  --text-font: "Sorts Mill Goudy", serif;
}

@font-face {
  font-family: 'Roxborough CF';
  src: url('./assets/font/roxborough-cf-regular.woff2') format('woff2'),
       url('./assets/font/roxborough-cf-regular.woff') format('woff');
}

body {
  background-color: var(--background);
  color: var(--text);
}

body p {
  font-family: var(--text-font);
  color: var(--text);
  margin: 0;
  font-size: var(--size-small);
}

h1 {  
  font-family: var(--title-font);
}

h2 {
  margin: 0 0 10px 0;
  font-size: var(--size-medium);
  font-family: var(--title-font);
}

.main-container {
  display: flex;
  padding: 2%;
  gap: 20px;
  width: calc(100vw-(100vw*0.08));
  height: calc(100vh-(100vh*0.08));
  justify-content: center;
}

/* Profile */

.profile-container {
  flex: 1;
  background-color: var(--container);
  padding: 30px 40px 10px 40px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.profile > h1 {
  margin: 15px 0px 0px 0px;
  font-size: var(--size-large);
}

.profile > img {
  border-radius: 50%;
}

.profile > p {
  text-align: center;
}


.profile-box {
  border-top: 2px solid var(--break-line);
  padding: 20px 0;
}

.contact-item {
  display: flex;
  align-items: center;
  padding-bottom: var(--break-small);
  gap: 10px;
}

.contact-item>a{
  color: var(--text);
  text-decoration: none;
  font-family: var(--text-font);
  font-size: var(--size-small);
}

.education-item {
  display: flex;
  align-items: self-start;
  gap: 10px;
}

.tech-skill-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-skill-item {
  display: flex;
  justify-content: center;
  background-color: var(--tech-container);
  padding: 2px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.skill-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.star {
  font-size: var(--size-medium);
  line-height: 1;
}

.active-star {
  color: var(--active-star-);
}

.inactive-star {
  color: var(--inactive-star);
}

/* Detail */

.detail-container {
  flex: 3;
  background-color: var(--container);
  padding: 40px;
}

.detail-item {
  position: relative;
}

.bar {
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: var(--color);
  left: -20px;
  border-radius: 10px;
}